:root{
    --primary-color: rgb(60, 60, 117);
    --secondary-color: rgb(255, 251, 246);
    --box-shadow: rgba(37, 37, 37, 0.356);
    --hover-color-blue: rgb(74, 92, 136);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{background-color: var(--secondary-color);}

html{font-family:Arial, Helvetica, sans-serif}

ul{list-style-type: none;}

input{
    border-radius: 3px;
    padding: 5px;
    width: 50%;
}

.btn{
    border: none;
    box-shadow: 0 3px var(--box-shadow);
    padding: 10px;
    border-radius: 8px;
}

.btn:active{
    position: relative;
    top: 2px;
}

p{
    font-weight: bold;
}

.hide{
    display: "none"
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1% 20px;
}

.time{
    color: white;
    display: flex;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
}

#main-h1{
    padding: 5px 0;
    margin: 8% 0 0 0;
    text-align: center;
}

.answer-h2{
    color: gray;
    border-top: 2px solid gray;
    padding: 0 87% 0 2%;
    font-weight: lighter;
    font-style: italic;
    min-width: 300px;
}

#main-p{
    padding: 2px;
    line-height: 1.5;
    margin: 5px auto auto auto;
    text-align: center;
}

#start-btn,
#data-answer-btn1,
#data-answer-btn2,
#data-answer-btn3,
#data-answer-btn4{
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0 2px;
}


#start-btn{
    margin: 8px auto;
    border-radius: 8px;
    min-width: 90px;
    max-width: 90px;
}

#data-answer-btn1,
#data-answer-btn2,
#data-answer-btn3,
#data-answer-btn4{
    min-width: 300px;
    padding: 20px;
    margin: 2%;
    color: white;
}

#start-btn p,
#data-answer-btn1 p,
#data-answer-btn2 p,
#data-answer-btn3 p,
#data-answer-btn4 p{
    color: white;
}

#start-btn:hover{
    background-color: var(--hover-color-blue);
}

#data-answer-btn1:hover,
#data-answer-btn2:hover,
#data-answer-btn3:hover,
#data-answer-btn4:hover{
    background-color: var(--hover-color-blue);
}

#answers{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.highscores{
    display: flex;
    flex-direction: column;
    padding: 2px 20%;
}

.highscores li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
}

.grey-bar{
    background-color: rgb(163, 167, 184);
}

.pale-bar{
    background-color: rgb(223, 226, 239);
}

form{
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 10px auto;
};

@media screen(max-width: 490) {
    /* Change h1 font size, button size and ul margins */
}